body {
background: url(room3.jpg);
background-size:100%;
background-repeat:no-repeat; 
margin: 0px;
padding-top: 0px;
font-family: 'Bitter', serif;
}


/* top navigation */
.topnav {
overflow: hidden;
background-color: black;
}

/* topnav links */
.topnav a {
float: right;
display: block;
color: #d45fa3;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* color on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}




h2 {
font-family: sans-serif;
font-weight: bold;
font-size: 15px;
}
.Menu {
height: 70px;
background: rgb(18, 12, 73);
position: fixed;
width: 100%;
z-index: 10;
border: 1.5px solid #ccc;
}
.tengah {
padding-top: 70px;
}

.kost {
width: 75%;
top: 100px;
position: right;
padding-left: 20px;
margin-left: auto;
margin-right: auto;
}


form {
    width: 500px; /*lebar*/
    margin: 50px auto;
}
.search {
    padding: 15px 100px;
    background: rgb(202, 202, 211);
    border: 0px solid black;
}

.button {
    position: relative;
    padding: 18px 20px;
    left: -8px;
    border: 2px solid black;
    background-color: rgb(14, 8, 85);
    color: rgb(187, 73, 190);

}
.button:hover {
    background-color:rgb(83, 156, 199);
    color: rgb(31, 10, 99); 

}


p {
font-size: 13px;
}
input[type="submit"] {
width: 75px;
height: 46px;
background: rgb(15, 13, 165);
color: white;
border: none;
font-family: arial;
font-size: 20px;
}


.maindiv {
width: 75%;
margin-left: auto;
margin-right: auto;
padding-top: 10px;
}
